<p id="notice" class="alert alert-success"><%= notice %></p>

<h2>タイトル</h2>
<p><%= simple_format(@note.title) %></p>
<h2>内容</h2>
<p><%= simple_format(@note.content) %></p>

<!--編集がいるときのみ表示-->

<!--<%= link_to "編集", edit_note_path(@note.id), class: "btn edit-btn" %>
<%= link_to "削除", note_path(@note.id), method: "delete", class: "btn destroy-btn", "data-confirm" => "本当に削除しますか？" %>-->
